@model CreateFitnessProgramViewModel

@{
    ViewData["Title"] = "Create your fitness program";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-lg-4 " >
            <h2 class="text-center">Create your fitness program</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Give a name to your fitness program....">
                </div>
                <div class="mb-3">
                    <label asp-for="ProgramDay" class="form-label">Program Day</label>
                    <textarea asp-for="ProgramDay" rows="4" class="form-control" placeholder="Which day of your schedule is this?"></textarea>
                </div>
                <div class="mb-3">
                    <label asp-for="ExerciseSets" class="form-label">Exercise Name</label>
                    <select asp-for="ExerciseSets"class="form-control">
                    </select>
                </div>
                <input class="btn btn-success" type="submit" value="Save"></input>
            </form>
        </div>
    </div>