@model AddPersonalRecordViewModel

@{
    ViewData["Title"] = "Add personal record";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-lg-4 ">
            <h2 class="text-center">Add personal record</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="ExerciseId"></label>
                    <select asp-for="ExerciseId" class="form-control">
                        @foreach (var exercise in Model.Exercises)
                        {
                            <option value="@exercise.Id">@exercise.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="Weight" class="form-label">Weight at which you set your record</label>
                    <textarea asp-for="Weight" rows="4" class="form-control" placeholder="The weight of your best rep..."></textarea>
                    <span asp-validation-for="Weight" class="small text-danger"></span>
                </div>
                <input class="btn btn-success" type="submit" value="Add record"></input>

                <button class="btn btn-success" role="button" asp-area="" asp-controller="PersonalRecords" asp-action="All">See all personal records</button>             
            </form>
        </div>
    </div>
</div>



