@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="text-center">
    <h1 class="display-4">Welcome to the Fitness Tracker!</h1>
    <p>You can add exercises and supplements. Add your personal records. Create your
        own fitness program days to track your fitness schedule. Create your preferred plan for supplements intake.
    </a></p>
</div>

