@model CreateProgramDayViewModel

@{
    ViewData["Title"] = "Create program day";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-lg-4 ">
            <h2 class="text-center">Create program day</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Program day name...">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <h6>Add exercises to the program day:</h6>
                @foreach (var exercise in Model.Exercises)
                {
                    <tr>
                        <td valign=bottom align="center" bgcolor="#DA8191">
                            <input type="checkBox" checkbox value=@exercise.Id>@exercise.ExerciseName>@exercise.ExerciseSets sets>@exercise.ExerciseReps reps>at @exercise.ExerciseWeight<br></br>
                        </td>
                    </tr>
                }
                <input class="btn btn-primary" type="submit" value="Hit the bar!"></input>
            </form>
        </div>
    </div>
</div>
